
<body>
	<h1>Welcome, <%= username %></h1>
	<h2>To create a new map, enter a new map name below:</h2>
	<form method="post">
	      <input  type="text" id="newmap" name="newmapname"></p>
	      <p><input class = "save" type="submit"></p>
	</form>
	<h3> Your Maps! </h3>

	<div>
		<div class = "maps">
			<a href="/protected/<%= username %>/index">Your Map!</a>
		</div>

		<h4> Find Friend's Map </h4>

		<form method="post">
	      <input  type="text" name="friendname"></p>
	      <p><input type="submit"></p>
	    </form>
	</div>


	<div>
	<a href="/logout">Logout</a>
	</div>

	<!-- load scripts -->
    <script src="/lib/js/jquery-1.11.1.js"></script>
    <script src="/listbuilder.js"></script>

</body>